* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;    
    font-size: 1.6rem;
    background: linear-gradient(to right bottom, #ffe78e, #ea5753)
}
  
.container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 80vh;
	padding: 40px;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	border-radius: 3rem;
    background: linear-gradient(to right bottom, rgb(255, 184, 142, 0.44), rgba(255, 255, 255, 0.5));
}

.container::before {
    content: "";
    bottom: -10rem;
    left: -5rem;
    width: 30rem;
    height: 30rem;
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.35);
}

.container::after {
    content: "";
    bottom: -15rem;
    right: -10rem;
    width: 30rem;
    height: 30rem;
    position: absolute;
    border-radius: 50%;
    background: rgba(236, 113, 47, 0.6);
}
  
h1 {
    position: sticky;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
    box-shadow: 0 7px 2rem #ea5753;
    background: rgba(234, 87, 83, 0.7);
    border-radius: 6px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 120px;
    font-size: 1.5rem;
    background-color: #ea5753;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

button:hover {
    background: white;
    color: #ea5753;
    box-shadow: 0 0 10px #C1CBF1, 0 0 40px #C1CBF1, 0 0 70px #C1CBF1;
}

button:hover i {
    color: #ea5753;
    transition: color 0.3s;
}

button i {
    font-size: 2rem;
    color: white;
    margin-left: 10px;
    transition: color 0.3s;
}

#output h2 {
    margin-top: 20px;
    color: #ea5753;
    font-size: 2rem;
}

#output p {
    margin-top: 5px;
    color: #ea5753;
    line-height: 33px;
    font-size: 1.25rem;
}
